.card {
  background: var(--card-background-color);
  padding: 0.2rem;
  /* transition: transform 0.2s; */
  border-radius: 10px;
}

.card img {
  width: 235px;
}
.card-body {
  padding: 0.4rem;
  font-size: 1.25rem;
}

.card:hover {
  transform: scale(1.02);
}

.text {
  font-size: 12px;
}
