.cart-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1em;
  max-width: 100%;
}

.cart-sum {
  text-align: right;
  margin: 0 auto;
  padding: 1rem 0rem;
  border-top: white 1px solid;
  width: 28.5em;
}

.to-register-btn {
  text-align: right;
  margin: 0 2rem auto;
  padding: 1rem 0rem;
  width: 15.5em;
}

@media only screen and (max-width: 600px) {
  .cart-sum {
    text-align: right;
    margin: 0 auto;
    padding: 1rem 0rem;
    border-top: white 1px solid;
    width: 15.5em;
  }

  .to-register-btn {
    text-align: right;
    margin: 0 2rem auto;
    padding: 1rem 0rem;
    width: 15.5em;
  }
}
