.cart-list {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  margin: 0 auto;
}

.cart-sum {
  width: 400px;
  padding-top: 3em;
  text-align: right;
  margin: 0 auto;
}

.to-register-btn {
  align-self: end;
}
