.cart-item {
  width: 25em;
  display: flex;
  align-items: center;
  gap: 2em;

  button {
    color: red;
    background-color: transparent;
  }
}

.cart-title {
  width: 8rem;
  text-align: left;
}

.cart-price {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .cart-item {
    width: 20em;
    gap: 1em;
    button {
      margin: 0px;
      padding: 0px;
    }
  }
}
