.cart-list {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2em;
  margin: 0 auto;
}

.cart-sum {
  width: 300px;
  padding: 2em 1em;
  text-align: right;
  margin: 0 auto;
}

.to-register-btn {
  align-self: end;
}

@media only screen and (max-width: 600px) {
  cart-list {
    width: 300px;
    gap: 0em;
  }
}
