.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;

  button {
    color: red;
    background-color: transparent;
  }
}

.cart-title {
  width: 8rem;
  text-align: left;
}

.cart-price {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  cart-item {
    width: 300px;
    gap: 0em;
  }
}
