.navbar {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(135, 177, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
}

a {
  color: #242424;
}
