.navbar {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(135, 177, 239);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0em 2em;
  color: black;

  a:visited {
    color: #242424;
  }
}

.badge {
  border: red 1px solid;
  padding: 0 3 px;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  position: relative;
  top: -39px;
  right: -17px;
  width: 1rem;
  border-radius: 50%;
  opacity: 0.9;
}

.badge .hidden {
  display: none;
}
