@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive+Mono&family=Darumadrop+One&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Palette+Mosaic&family=Rubik+Puddles&family=Shippori+Antique+B1&display=swap');

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  height: 100%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.2em;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.2em;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin: 0.2em 0em;
}

h5 {
  margin: 0.1rem;
}

button {
  background-color: black;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: rgb(135, 177, 239);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  padding: 1em 0em;
  flex: 1;
}

footer {
  padding: 1em;
  background-color: rgb(135, 177, 239);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.arrow {
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #edebeb;
  }
  a {
    color: black;
  }

  button {
    background-color: #dcbbf2;
    color: black;
  }

  .arrow {
    color: black;
  }
}

@media only screen and (max-width: 600px) {
  .cart-item {
    width: 300px;
  }
}
